<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id= "homePageController" class="fr.gtm.nina.controller.HomePageController">
<property name="employeManager" ref="employeManager"/>
</bean>

<bean id="simpleUrlMapping" 
      class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
<property name="mappings">
<props>
<prop key ="/home.htm">homePageController</prop>
</props>
</property>
</bean>

<bean id= "homePageController" class = "fr.gtm.nina.controller.HomePageController">
<property name="employeManager" ref="employeManager"> </property>
</bean>

<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
<property name="prefix">
<value>/WEB-INF/jsp</value>
</property>
<property name="suffix">
<value>.jsp</value>
</property>
</bean>
</beans>
